.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.button {
  max-width: 10rem;
  align-self: flex-end;
}
